# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Environments
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3

# PyInstaller
*.spec

# Coverage
htmlcov/
.coverage
.tox/

# Pydantic cache
__pydantic_cache__/
